---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- 
{% include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %} -->

## Teaching Experience as a Teacher Assistant

- Probability and Statistics in Engineering
Prof. Bahrak
- Theory of Formal Languages and Automata
Prof. Hojjat
- Advanced Programming
Prof. Khosravi
- Design and Analysis of Algorithms
Prof. Mahini
- Artificial Intelligence
Prof. Moradi
- Database Systems
Prof. Shakery